body {
    text-align: center;
    background: linear-gradient(beige 5%, white 95%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    text-align: center;
}

#intro {
    margin-top: 200px;
}

#bio {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    z-index: 9;
    margin-top: 80px;
}

#para {
    text-align: justify;
}

.line {
    border: solid;
    border-width: 1px;
    width: inherit;
    margin: 8px auto;

}


#img1 {
    border-radius: 500px;
    width: 230px;
    height: 230px;
}

.menu {
    list-style: none;
    position: fixed;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;

}

html {
    scroll-behavior: smooth;
}

button {
    display: inline;
    transition-duration: 0.4s;
    background-color: beige;
    color: black;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}

.button:hover {
    text-shadow: 1px 0px #212121;
    background-color: linear-gradient(#E1BEE7 30%, #004D40 80%);
    border-color: black;
    border: 2px solid black;

}

#contact {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;

}

#message {
    width: 200px;
    height: 70px;
}

.backtotop {
    background-color: beige;
    text-align: end;

}

#send {
    border: solid;
    border: 2px black;
    text-decoration: none;
    outline: 1px solid;
}
.con{
   margin: 30px;
    line-height: 30px;
     align-content: justify;
}

#img2 {
    border-radius: 1px;
    width: 200px;
    height: 35%;
    margin-left: 20px;
}

#img3 {
    border-radius: 1px;
    width: 200px;
    height: 35%;
    margin-left: 20px;
}
