body{
  text-align:center;
  background:linear-gradient(#E1BEE7 30%, #90CAF9 80%);
  background-repeat:no-repeat;
}
h1{
  text-shadow:2px 2px #F8BBD0;
}
#intro{
  margin-top:80px;
}
#bio{
  padding:20px;
  font-size:18px;
  text-align:center;
  z-index:9;
}
#para{
  text-align:justify;
}
.line{
  border:solid;
  border-width:1px;
}

#img1{
   border-radius:500px;
  width:230px;
  height:230px;
}
.menu{
  list-style:none;
  position:absolute;
  font-family:cursive;
  float:right;
  top:10px;
  right:30px;
  cursor:pointer;
  color:black;
  
}
li{
  display:inline;
  }
.link:hover{
  text-shadow:1px 1px #212121;
  background-color:linear-gradient(#E1BEE7 30%, #004D40 80%);
}